.title {
  font-family: 'PretendardM';
  font-size: 1.8rem;
}

.bar {
  font-family: 'PretendardM';
  font-size: 1.35rem;
}

.placeholder {
  font-family: 'PretendardR';
  font-size: 1.2rem;
}

.msg {
  font-family: 'PretendardR';
  font-size: 0.9rem;
}
